body{
  margin:0;
  height: 100%;
  padding-left: 156px;
  background-color: rgb(33, 32, 32);
  color:white;
  font-family: Roboto, Arial;
  font-weight: lighter;
}

.intro-text{
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
  text-align: justify;
  padding-right: 8px;
}

.big-text{
  text-align: center;
  font-size: 64px;
  font-family: Roboto, Arial;
  color: rgb(230, 228, 228);
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
}

.big-text:hover{
  background-color: rgb(75, 70, 70);
  opacity: 0.75;
}

.intro-description{
  font-size: 16px;
  padding: 20px;
  font-weight: lighter;
  margin-top: 30px;  
  border: 1px white solid;
  color:lightgray;
  border-radius: 20px;
}

.intro{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding-top: 20px;
}

.profile-pic{
  width: 250px;
  padding: 10px;
  background-color: rgb(44, 50, 50);
  margin-left: 20px;
  border-radius: 40px;
  box-shadow: 30px;
  z-index: 10;
}

.about-me{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.about-me-title, 
.about-me-description{
  padding: 15px;
  overflow: hidden;
  border-radius: 20px;
  font-weight: lighter;
}

.about-me-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 500px;
  flex:2;
  font-size: 24px;
  border: 1px solid white;
}
.about-me-description{
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  width: 700px;
  text-align: justify;
  background-color: rgb(49, 37, 37);
}

.bottom{
  padding-bottom: 36px;
}

.linkedin-logo{
  margin: 40px auto 10px;
  display: block;
  width: 200px;
  cursor: pointer;
  margin-bottom: 76px;
}

.linkedin-logo:hover{
  opacity:0.75;
}

.nav-bloc:hover{
  opacity: 0.75;
  transform: 0.20;
}

.remove-deco{
  text-decoration: none;
}

.show-link{
  color: gray;
}

.contact-info{
  display: flex;
  margin-top:auto;
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(49, 37, 37);
  border-top: 1px solid black;
  box-shadow: 5px;
  color: rgb(230, 228, 228);
  justify-content: center;
}
