header{
  width: 158px;
  display: column;
  background-color:rgb(47, 45, 45);
  opacity: 0.998;
  flex-direction: row;
  padding: 0;

  color: rgb(172, 172, 172);

  position: fixed;
  top:0;
  left: 0;
  bottom:0;

  border-right: 1px solid rgb(51, 50, 50);
  z-index: 10000;
}

.logo{
  margin:0;
  padding: 5px;
  font-family: Roboto, Arial; 
  font-size: 40px;
  margin: 20px 0px 30px 5px;
  flex:1;
  overflow: auto;
}

@media (min-width: 1000px){
  header{
    width: 300px;
  } 
}

nav{
  background-color: gray;
  display: column;
  align-items: center;
}

.nav-block:hover{
  opacity: 0.75;
  transition: 0.5;
}

.curr-link,
.nav-link,
.toggle-button
{
  border-top: 0.5px groove rgb(226, 226, 226);
  border-bottom: 0.5px groove rgb(229, 229, 229);
  padding-top:20px;
  padding-bottom:20px;
  padding-left: 6px;
  display: flex;
  flex:1;
  right:0;
  background-color: darkgreen;
  margin: 0;
  font-size: 24px;
  color: rgb(163, 163, 163);
}

.nav-link{
  text-decoration: none; 
  background-color: rgb(47, 45, 45);
}

.toggle-button{
  padding-left:2px;
  font-family: Roboto, Arial;
  font-size: 24px;
  font-weight: lighter;
  width: 100%;
  border-right: none;
  border-left: none;
  background-color: rgb(47, 45, 45);
  cursor: pointer;
}
