header{
  width: 158px;
  display: column;
  background-color:rgb(47, 45, 45);
  opacity: 0.998;
  flex-direction: row;
  padding: 0;

  color: rgb(230, 228, 228);

  position: fixed;
  top:0;
  left: 0;
  bottom:0;

  border-right-width: 3px solid white;
  z-index: 10000;
}

.logo{
  font-family: Itim, Arial; /*find different style*/
  font-size: 38px;
  
  margin: 10px 20px 30px 10px;
  flex:1;
  overflow: auto;
}

.logo:hover{
  text-shadow: 3px 0.5px darkgreen;
  cursor:default;
}

nav{
  background-color: gray;
  display: column;
  align-items: center;
}

.nav-block:hover{
  opacity: 0.75;
  transition: 0.5;
}

.curr-link,
.nav-link{
  border-top: 1px groove white;
  border-bottom: 1px groove white;
  padding-top:20px;
  padding-bottom:20px;
  padding-left: 6px;
  display: flex;
  flex:1;
  right:0;
  background-color: darkgreen;
  margin: 0;
  font-size: 24px;
  color: rgb(230, 228, 228);
}

.nav-link{
  text-decoration: none; 
  background-color: rgb(47, 45, 45);
}
